[submodule "libraries/standard/coreMQTT"]
	path = libraries/standard/coreMQTT
	url = https://github.com/FreeRTOS/coreMQTT
[submodule "libraries/standard/backoffAlgorithm"]
	path = libraries/standard/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm
[submodule "libraries/standard/coreJSON"]
	path = libraries/standard/coreJSON
	url = https://github.com/FreeRTOS/coreJSON
[submodule "libraries/aws/Device-Shadow-for-AWS-IoT-embedded-sdk"]
	path = libraries/aws/Device-Shadow-for-AWS-IoT-embedded-sdk
	url = https://github.com/aws/Device-Shadow-for-AWS-IoT-embedded-sdk
[submodule "libraries/standard/coreHTTP"]
	path = libraries/standard/coreHTTP
	url = https://github.com/FreeRTOS/coreHTTP
[submodule "libraries/standard/coreMQTT-Agent"]
	path = libraries/standard/coreMQTT-Agent
	url = https://github.com/FreeRTOS/coreMQTT-Agent
